<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>qns</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/index.jsp</location>
  </error-page>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>qns.filter.login.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Core</servlet-name>
    <servlet-class>qns.servlet.core.Core</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Core</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>